$color-bg: #222429;
$color-bg-dark-blue: #282f35;
$color-bg-grey: #f7f7f7;
$color-header-text: #4d4959;



$color-title: #353738;
$color-text: #848789;

$color-hover: #64c29e;

$color-line: #d7d7d7;

$color-border: #d3d7d9;

$color-button: #64c29e;
$color-button-border: #94979a;